

:root {
    --primary: #111B54;
    --light: #ffffff;
    --grey: #efefef;
}



.main-navbar {
    background-color: rgb(77, 190, 224);
    
}

.nav-wrapper {
    background-color: rgb(77, 190, 224);
    
}




